#wrapper {
  max-width: 1050px;
  margin: 60px auto 60px auto;
  /*background-color: #DDD*/
}
#outer {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.itemwrapper {
  display: table-cell;
  /*vertical-align: top;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  width: 100%;
}
.imagecentered {
  text-align: center;
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}
.description{
  text-align: justify;
  padding: 0 12px 12px;
}

#puclogo{
  margin: 0 auto;
  width: 25%;
}

#imagemcapa{
  margin: 12px 0px 12px;
}

#textotitulo{
  text-align: center;
  font-size: 20px;
  padding: 6px 6px 6px;
}

#textotitulo1{
  text-align: center;
  font-size: 20px;
  padding: 6px 6px 6px;
}

.citacaoimagem{
  text-align: left;
  font-size: 8pt;
  padding: 2px 12px 12px;
}

.citacaotexto{
  text-align: left;
  font-size: 8pt;
}

.masthead2{
  background: #ffffff;
}

#containerhead{
  padding-bottom: 12px;
}

.containerbutton{
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

