#wrapper {
  max-width: 1050px;
  margin: 60px auto 60px auto;
  /*background-color: #DDD*/
}
#outer {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.itemwrapper {
  display: table-cell;
  /*vertical-align: top;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  width: 100%;
}
.imagecentered {
  text-align: center;
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
  margin: 12px 0px 12px;
}
.description{
  text-align: justify;
  padding: 0 12px 12px;
}

#puclogo{
    margin: 0 auto;
    width: 33.3%;
}

#imagemcapa{
    padding-left: 12px;padding-right: 12px;
}

#textotitulo{
    font-size: 20px;
}